body {
    font-family: Arial, sans-serif;
    background-color: rgb(124, 196, 192);
}
main {color: rgb(133, 82, 20);

}
h2 {color: rgb(119, 4, 119);

}
header{ text-align: center;
    background-color: rgb(48, 105, 105);

}
li {color: rgb(148, 47, 123);

}
i {color: rgb(0, 0, 0);

}
a:link {color: rgb(26, 96, 105);

}
h3 {color: rgb(13, 61, 61);

}